<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.mapper.app.UserCarMapper">
    
   	<!--  所创建俱乐部等级达到黄金时候奖励CarID为2的车 -->
    <insert id="sendUserCarAndCarIdIs2" >
       insert   IGNORE INTO
            userCar (userId,carId,createTime) values (#{userId}, 2, now())
            ON DUPLICATE KEY UPDATE createTime=now()
    </insert>
    
</mapper>