<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.DicComponentMapper">
    <resultMap id="BaseDicComponentMap" type="com.idata365.app.entity.v2.DicComponent" >
    </resultMap>
    <select id="getDicComponent" resultMap="BaseDicComponentMap" parameterType="java.util.HashMap">
  	  select  * from dicComponent
    </select>
    
    <select id="getCountCurComponentByUserIdCarId" resultType="java.lang.Double" >
  	  SELECT
			IFNULL( SUM( powerAddition ), 0 )  
		FROM
			dicComponent 
		WHERE
			componentId IN (
		SELECT
			componentId 
		FROM
			componentUserUseLog 
		WHERE
			userComponentId IN ( SELECT id FROM componentUser WHERE userId = #{userId} AND inUse = 1 AND componentStatus = 1 AND leftTravelNum > 0 ) 
			AND eventType = 1 
			AND carId = #{carId} 
	)
    </select>
    
    <select id="getCurComponentByUserIdCarId" resultMap="BaseDicComponentMap" >
  	  SELECT
			*
		FROM
			dicComponent 
		WHERE
			componentId IN (
		SELECT
			componentId 
		FROM
			componentUserUseLog 
		WHERE
			userComponentId IN ( SELECT id FROM componentUser WHERE userId = #{userId} AND inUse = 1 AND componentStatus = 1 AND leftTravelNum > 0 ) 
			AND eventType = 1 
			AND carId = #{carId} 
		)
		order by `id`
    </select>
</mapper>