<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.DicComponentMapper">
    <resultMap id="BaseDicComponentMap" type="com.idata365.app.entity.v2.DicComponent" >
    </resultMap>
    <select id="getDicComponent" resultMap="BaseDicComponentMap" parameterType="java.util.HashMap">
  	  select  * from dicComponent
    </select>
</mapper>