<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.DicCarMapper">
    <resultMap id="BaseDicCarMap" type="com.idata365.app.entity.DicCar" >
    </resultMap>
    <select id="getDicCar" resultMap="BaseDicCarMap" parameterType="java.util.HashMap">
  	  select  * from dicCar
    </select>
    
   
    
</mapper>