<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.GameMapper">
	
	<select id="queryFamilyDriveDayStat" resultType="com.idata365.app.entity.ViolationStatBean" parameterType="com.idata365.app.entity.ViolationStatParamBean">
		select * from familyDriveDayStat where familyId=#{familyId} and daystamp=#{daystamp}
	</select>
	
</mapper>