<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.ImMsgMapper">
    <resultMap id="BaseResultMap" type="com.idata365.app.entity.ImMsg" >
    </resultMap>
    <insert id="insertMsg"   parameterType="java.util.List">
       INSERT INTO 
            imMsg
            (familyId,fromUserPic,fromUserId,toUserPic,toUserId,createTime,msg,isRead,atUsers)  VALUES
		<foreach collection="list" item="item" index="index" separator=",">
    		(#{item.familyId},#{item.fromUserPic},#{item.fromUserId},#{item.toUserPic},#{item.toUserId},now(),#{item.msg},#{item.isRead},#{item.atUsers}) 
    	</foreach>
    </insert>
 
    <select id="getMsg" resultMap="BaseResultMap" parameterType="java.util.HashMap">
  	  select a.id,a.familyId,b.imgUrl as fromUserPic,b.nickName,b.phone,a.fromUserPic,a.fromUserId,a.toUserId,a.createTime,a.msg,a.atUsers,a.isRead
  	    from imMsg  a left join usersAccount b on a.fromUserId=b.id where 
        a.familyId=#{familyId}  and a.toUserId=#{toUserId}
        <choose>
        <when test="isHistory>0">
             <![CDATA[ and a.id<=#{id}]]>
        </when>
        <otherwise>
           <![CDATA[ and a.id>=#{id}]]>
        </otherwise>
        </choose>
           order by a.id desc  limit 10
    </select>
     
     <select id="getMsgById" resultMap="BaseResultMap" parameterType="java.lang.Long">
  	  select *
  	    from imMsg   where id=#{id}
    </select>
     
    <update id="updateMsg"    parameterType="java.util.HashMap" >
      update
            imMsg 
             set isRead=1 where 
             <![CDATA[id>=#{beginId} and id<=#{endId}]]> and familyId=#{familyId}  and toUserId=#{toUserId}
    </update>
 
     
   
    
    
    
</mapper>