<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.LicenseDriverMapper">
    <resultMap id="BaseResultMap" type="com.idata365.app.entity.LicenseDriver" >
    </resultMap>

  <insert id="insertImgDriverFrontImg"   parameterType="java.util.HashMap" >
       INSERT IGNORE   INTO 
            licenseDriver
            (userId,gender,nation,driveCardType,birthday,virginDay,validDay,validYears,frontImgUrl,licenseNumber,remark,createTime,userName) 
        VALUES
            (#{userId},#{gender},#{nation},#{driveCardType},#{birthday},#{virginDay},#{validDay},#{validYears},
            #{key},#{licenseNumber},#{remark},now(),#{userName})
             ON DUPLICATE KEY UPDATE frontImgUrl=#{key},remark=#{remark},
             updateTime=now()
    </insert>

   <update id="modifyImgDriverFront"   parameterType="java.util.HashMap" >
     update
            licenseDriver
             set gender=#{gender},nation=#{nation},driveCardType=#{driveCardType},birthday=#{birthday},
             virginDay=#{virginDay},
             validDay=#{validDay},validYears=#{validYears},userName=#{userName},
             updateTime=now(),isDrivingEdit=#{isDrivingEdit}
             where userId=#{userId}
    </update>
    
    
     <insert id="insertImgDriverBackImg"   parameterType="java.util.HashMap" >
       INSERT IGNORE   INTO 
            licenseDriver
            (userId,backImgUrl,createTime) 
        VALUES
            (#{userId},#{key},now())
             ON DUPLICATE KEY UPDATE backImgUrl=#{key},
             updateTime=now()
    </insert>
        <select id="findLicenseDriverByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
       SELECT *
       FROM  licenseDriver where userId=#{userId}
     </select>
     
      <select id="getUserLicenseDrivers" resultMap="BaseResultMap">
       SELECT *
       FROM  licenseDriver order by updateTime desc
     </select>
</mapper>