<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.LicenseVehicleTravelMapper">
    <resultMap id="BaseResultMap" type="com.idata365.app.entity.LicenseVehicleTravel" >
    </resultMap>

    <insert id="insertImgVehicleFrontImg"   parameterType="java.util.HashMap" >
       INSERT IGNORE INTO 
            licenseVehicleTravel
            (userId,plateNo,carType,useType,modelType,vin,
            issueDate,regDate,engineNo,frontImgUrl,remark,createTime,ownerName) 
        VALUES
            (#{userId},#{plateNo},#{carType},#{useType},#{modelType},#{vin},#{issueDate},#{regDate},
            #{engineNo},#{key},#{remark},now(),#{ownerName})
             ON DUPLICATE KEY UPDATE 
             frontImgUrl=#{key},remark=#{remark},ownerName=#{ownerName}
             updateTime=now()
    </insert>

   <update id="modifyImgVehicleFront"   parameterType="java.util.HashMap" >
     update
            licenseVehicleTravel
             set plateNo=#{plateNo},carType=#{carType},useType=#{useType},modelType=#{modelType},
             vin=#{vin},
             issueDate=#{issueDate},regDate=#{regDate},engineNo=#{engineNo},
             frontImgUrl=#{key},
             updateTime=now()
             where userId=#{userId}
    </update>
    
    
     <insert id="insertImgVehicleBackImg"   parameterType="java.util.HashMap" >
       INSERT IGNORE  INTO 
            licenseVehicleTravel
            (userId,backImgUrl,createTime) 
        VALUES
            (#{userId},#{key},now())
             ON DUPLICATE KEY UPDATE backImgUrl=#{key},
             updateTime=now()
    </insert>  
    <select id="findLicenseVehicleTravelByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
       SELECT *
       FROM  licenseVehicleTravel where userId=#{userId}
     </select>
</mapper>