<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.LotteryMigrateInfoMsgMapper">
    
    <select id="query" resultType="com.idata365.app.entity.LotteryMigrateInfoMsgBean"
    	parameterType="com.idata365.app.entity.LotteryMigrateInfoMsgParamBean">
    	select t1.id as id, userId, awardId, t2.imgUrl as imgUrl, awardCount, date_format(str_to_date(givenTime, '%Y%m%d%H%I%S'), '%Y-%m-%d') as day, status, if (t2.nickName is null, t2.phone, t2.nickName) as name 
	from lotteryMigrateInfoMsg t1 
	join usersAccount t2 on (t1.userId=t2.id) where t1.toUserId=#{userId} order by t1.id desc limit #{start}, 5
    </select>
    
    <insert id="save" parameterType="com.idata365.app.entity.LotteryMigrateInfoMsgBean">
    	insert into lotteryMigrateInfoMsg(userId, toUserId, awardId, awardCount, givenTime, status) values(#{userId}, #{toUserId}, #{awardId}, #{awardCount}, #{givenTime}, 'UN_RECV')
    </insert>
    
	<update id="updateStatus" parameterType="com.idata365.app.entity.LotteryMigrateInfoMsgParamBean" >
		update lotteryMigrateInfoMsg set status='RECV' where id=#{givenId} 
    </update>
    
    <select id="queryById" resultType="com.idata365.app.entity.LotteryMigrateInfoMsgBean"
    	parameterType="com.idata365.app.entity.LotteryMigrateInfoMsgParamBean">
    	select toUserId, awardId, awardCount from lotteryMigrateInfoMsg where id=#{givenId}
    </select>
    
    <select id="findLotteryUser" resultType="com.idata365.app.entity.LotteryUser" parameterType="com.idata365.app.entity.LotteryMigrateInfoMsgParamBean">
    	select id as userId, nickName as name, phone, imgUrl from usersAccount where id=#{userId}
    </select>
    
    <select id="findUserFamily" resultType="com.idata365.app.entity.UserFamilyRelationBean" parameterType="com.idata365.app.entity.LotteryMigrateInfoMsgParamBean">
    	select userId, familyId from userFamilyRelation where familyId in (select familyId from userFamilyRelation where userId=#{userId} group by familyId) and userId!=#{userId} order by userId asc
    </select>
    
    <select id="countFamilyByUserAndId" resultType="int" parameterType="com.idata365.app.entity.UserFamilyRelationBean">
    	select count(1) from familyInfo where createUserId=#{userId} and id=#{familyId}
    </select>
    
    <select id="queryRoleByUserFamily" resultType="java.lang.Integer" parameterType="com.idata365.app.entity.LotteryMigrateInfoMsgParamBean">
    	select role from userFamilyRelation where userId=#{userId} and familyId=#{familyId}
    </select>
</mapper>