<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.MessageMapper">
    <resultMap id="BaseResultMap" type="com.idata365.app.entity.Message" >
    </resultMap>
    <insert id="insertMessage" useGeneratedKeys="true" keyProperty="id"  parameterType="com.idata365.app.entity.Message" >
       INSERT INTO 
            message
            (parentType,childType,title,createTime,icon,picture,content,urlType,toUrl,toUserId,fromUserId,bottomText,isPush) 
        VALUES
            (#{parentType}, #{childType},#{title},now(),#{icon},#{picture},#{content},#{urlType},#{toUrl},#{toUserId},#{fromUserId},#{bottomText},#{isPush}))
    </insert>
 
    <select id="getMsgMainTypes" resultType="java.util.HashMap" parameterType="java.lang.Long">
    
    select count(parentType) typeCount,parentType from message where isRead=0 and toUserId=#{toUserId}  group by parentType order by parentType
    </select>
     
    <update id="updateRead"    parameterType="java.lang.Long" >
      update
            message
             set isRead=1,readTime=now() where id=#{msgId} and isRead=0;
    </update>
 
     
     
    <select id="getMsgMainTypeTime" resultType="java.util.HashMap" parameterType="java.lang.Integer">
      select DATE_FORMAT(createTime,'%Y-%m-%d %H:%i') createTime from message where  
     parentType=#{parentType} order by id desc limit 1
    </select>
    
    
    <select id="getMsgListByType" resultType="java.util.HashMap" parameterType="java.util.HashMap">
   	 select id msgId,icon,parentType,childType,DATE_FORMAT(createTime,'%Y-%m-%d %H:%i') createTime,title,picture,content,bottomText,urlType,toUrl,isRead
   	 from message where parentType=#{msgType} and <![CDATA[ id>=${startMsgId}]]> 
   	 
   	  <if test='readStatus != null and readStatus != "0"'>
          <choose>  
			<when test='readStatus == "1"'>  
				AND isRead=0
			</when>  
			<otherwise>   
		        AND isRead=1 
			</otherwise>  
	  </choose> 
      </if>
       limit 10
    </select>
    
    
    
</mapper>