<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.ScoreMapper">

	<select id="queryFamilyByUserId" resultType="com.idata365.app.entity.ScoreFamilyInfoBean" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select imgUrl, t2.id as familyId, t1.orderNo as orderNo, t2.familyName as name from familyScore t1 
right join familyInfo t2 on (t1.familyId=t2.id) where t2.createUserId=#{userId}
	</select>

	<select id="queryFamilyIds" resultType="java.lang.Long" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select familyId from userFamilyRelation where userId=#{userId} order by id asc
	</select>
	
	<select id="queryFamilyByFamilyId" resultType="com.idata365.app.entity.ScoreFamilyInfoBean" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select imgUrl, t2.id as familyId, t1.orderNo as orderNo, t2.familyName as name from familyScore t1 
right join familyInfo t2 on (t1.familyId=t2.id) where t2.id=#{familyId}
	</select>

	<select id="queryFamilyOrderInfo" resultType="com.idata365.app.entity.ScoreFamilyOrderBean">
	select imgUrl, t1.familyId as familyId, t1.orderNo as orderNo, t2.familyName as name, t3.score as score from familyDriveDayStat t1 
		join familyInfo t2 on (t1.familyId=t2.id) 
		join familyScore t3 on (t1.familyId=t3.familyId) 
		where t1.daystamp=DATE_FORMAT(now(), '%Y%m%d') 
		order by t3.score desc limit 0, 100;
	</select>

	<select id="queryFamilyDetail" resultType="com.idata365.app.entity.ScoreFamilyDetailBean" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select imgUrl, familyName, t2.orderNo as orderNo from familyInfo t1 left join familyScore t2 on (t1.id=t2.familyId) where t1.id=#{familyId}
	</select>

	<select id="queryFamilyRecords" resultType="java.lang.String" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select record from familyHistory where familyId=#{familyId} order by id desc limit 0, 3
	</select>

	<select id="queryMemberByFamilyId" resultType="com.idata365.app.entity.ScoreMemberInfoBean" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select imgUrl, t1.nickName as name, t1.phone as phone, t1.id as userId, t3.role as role, joinTime from usersAccount t1 
join userFamilyRelation t2 on (t1.id=t2.userId) 
left join userScoreDayStat t3 on (t1.id=t3.userId) 
where t2.familyId = #{familyId}
	</select>

	<select id="queryHistoryOrder" resultType="com.idata365.app.entity.ScoreUserHistoryBean" parameterType="com.idata365.app.entity.ScoreUserHistoryParamBean">
		select score, role, daystamp as dayStr from userScoreDayStat where userId=#{userId} order by daystamp desc limit #{start}, 10
	</select>
	
	<select id="queryScoreByDay" resultType="com.idata365.app.entity.ScoreByDayBean" parameterType="com.idata365.app.entity.ScoreUserHistoryParamBean">
		select score, speedingState, driveState, creditState, steadyState, mileageState from userScoreDayStat where userId=#{userId} and daystamp=#{day}
	</select>
	
	<select id="queryUserDayScoreByFamily" resultType="com.idata365.app.entity.ScoreUserBean" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select t1.userId as userId, imgUrl, nickName as name, phone, t3.score as score from userFamilyRelation t1 
			join usersAccount t2 on (t1.userId=t2.id) 
			left join userScoreDayStat t3 on (t1.userId=t3.userId) 
			where t1.familyId=#{familyId} and t3.daystamp=#{daystamp};
	</select>
	
	<select id="queryYesterdayFamilyScore" resultType="com.idata365.app.entity.YesterdayScoreBean" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select t1.id as userId, t1.nickName as name, t1.phone as phone, t1.imgUrl as imgUrl, t3.score as score, t3.role as role from usersAccount t1 
			join userFamilyRelation t2 on (t1.id=t2.userId) 
			left join userScoreDayStat t3 on (t1.id=t3.userId) where familyId=#{familyId} and t3.daystamp=#{daystamp}
	</select>
	
	<select id="queryYesterdayMemberScore" resultType="com.idata365.app.entity.FamilyMemberBean" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select t1.id as userId, t1.nickName as name, t1.phone as phone, t1.imgUrl as imgUrl, t3.score as score, t3.role as realRole from usersAccount t1 
			join userFamilyRelation t2 on (t1.id=t2.userId) 
			left join userScoreDayStat t3 on (t1.id=t3.userId) where familyId=#{familyId} and t3.daystamp=#{daystamp}
	</select>
</mapper>