<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.ScoreMapper">

	<!-- 
	<select id="queryFamilyByUserId" resultType="com.idata365.app.entity.ScoreFamilyInfoBean" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select imgUrl, t2.id as familyId, t1.yesterdayOrderNo as orderNo, t2.familyName as name from familyScore t1 
right join familyInfo t2 on (t1.familyId=t2.id) where t2.createUserId=#{userId}
	</select>
	 -->

	<select id="queryFamilyByUserId" resultType="com.idata365.app.entity.ScoreFamilyInfoBean" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
	<![CDATA[
			select t1.yesterdayOrderNo as orderNo, t1.beforeYesterdayOrderNo as beforeYesterdayOrderNo, t1.averScore as score, imgUrl, t2.id as familyId, t2.familyName as name from familyScore t1 
		right join familyInfo t2 on (t1.familyId=t2.id) where t2.createUserId=#{userId} and t1.startDay<=#{timeStr} and t1.endDay>=#{timeStr}
		]]>
	</select>

	<select id="queryFamilyIds" resultType="java.lang.Long" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select familyId from userFamilyRelation where userId=#{userId} order by id asc
	</select>
	
	<!-- 
	<select id="queryFamilyByFamilyId" resultType="com.idata365.app.entity.ScoreFamilyInfoBean" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select imgUrl, t2.id as familyId, t1.yesterdayOrderNo as orderNo, t2.familyName as name from familyScore t1 
right join familyInfo t2 on (t1.familyId=t2.id) where t2.id=#{familyId}
	</select>
	 -->
	
	<select id="queryFamilyByFamilyId" resultType="com.idata365.app.entity.ScoreFamilyInfoBean" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
	<![CDATA[
		select t1.yesterdayOrderNo as orderNo, t1.beforeYesterdayOrderNo as beforeYesterdayOrderNo, t1.averScore as score, imgUrl, t2.id as familyId, t2.familyName as name from familyScore t1 
			right join familyInfo t2 on (t1.familyId=t2.id) where t2.id=#{familyId} and t1.startDay<=#{timeStr} and t1.endDay>=#{timeStr}
		]]>
	</select>

<!-- 
	<select id="queryFamilyOrderInfo" resultType="com.idata365.app.entity.ScoreFamilyOrderBean">
		select imgUrl, t3.familyId as familyId, t3.yesterdayOrderNo as orderNo, t3.beforeYesterdayOrderNo as beforeYesterdayOrderNo, t2.familyName as name, t3.averScore as score from familyInfo t2 
				join familyScore t3 on (t2.id=t3.familyId) 
				order by t3.yesterdayOrderNo asc limit 0, 100
	</select>
 -->

	<select id="queryFamilyOrderInfo" resultType="com.idata365.app.entity.ScoreFamilyOrderBean" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
	<![CDATA[
		select imgUrl, t3.familyId as familyId, t3.yesterdayOrderNo as orderNo, t3.beforeYesterdayOrderNo as beforeYesterdayOrderNo, t2.familyName as name, t3.averScore as score from familyInfo t2 
				join familyScore t3 on (t2.id=t3.familyId) where t3.startDay<=#{timeStr} and t3.endDay>=#{timeStr} and t3.yesterdayOrderNo !=0
				order by t3.yesterdayOrderNo asc limit 0, 100
	]]>
	</select>

	<!-- 
	<select id="queryFamilyDetail" resultType="com.idata365.app.entity.ScoreFamilyDetailBean" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select imgUrl, familyName, t2.yesterdayOrderNo as orderNo from familyInfo t1 left join familyScore t2 on (t1.id=t2.familyId) where t1.id=#{familyId}
	</select>
	 -->

	<select id="queryFamilyDetail" resultType="com.idata365.app.entity.ScoreFamilyDetailBean" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select imgUrl, familyName from familyInfo where id=#{familyId}
	</select>
	
	<select id="queryFamilyYesterdayOrder" resultType="java.lang.Integer" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		<![CDATA[
		select yesterdayOrderNo from familyScore where familyId=#{familyId} and startDay<=#{timeStr} and endDay>=#{timeStr}
		]]>
	</select>

	<select id="queryFamilyRecords" resultType="java.lang.String" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select record from familyHistory where familyId=#{familyId} order by id desc limit 0, 3
	</select>

	<select id="queryOrderRecords" resultType="com.idata365.app.entity.FamilyScoreBean" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select yesterdayOrderNo, endDay from familyScore where familyId=#{familyId} order by endDay asc
	</select>

	<select id="queryMemberByFamilyId" resultType="com.idata365.app.entity.ScoreMemberInfoBean" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select imgUrl, t1.nickName as name, t1.phone as phone, t1.id as userId, t2.role as role, joinTime from usersAccount t1 
	join userFamilyRelation t2 on (t1.id=t2.userId) 
	where t2.familyId = #{familyId} order by joinTime asc
	</select>

	<select id="queryHistoryOrder" resultType="com.idata365.app.entity.ScoreUserHistoryBean" parameterType="com.idata365.app.entity.ScoreUserHistoryParamBean">
		select t1.score as score, t2.role as role, t2.daystamp as dayStr from userScoreDayStat t1
			join userFamilyRoleLog t2 on (t1.userFamilyScoreId=t2.id) where t1.userId=#{userId} and t2.familyId=#{familyId} order by t2.daystamp desc limit #{start}, 10
	</select>
	
	<select id="queryMemberAvgScore" resultType="java.lang.Double">
		select avgScore from userScoreDayStat where userId=#{memberId} and familyId=#{familyId} and daystamp=#{daystamp}
	</select>

	<select id="queryHistoryRole" resultType="java.lang.Integer" parameterType="com.idata365.app.entity.ScoreUserHistoryParamBean">
		select role from userFamilyRoleLog where userId=#{userId} and familyId=#{familyId} and daystamp=#{day}
	</select>

	<select id="queryCurrentRole" resultType="java.lang.Integer" parameterType="com.idata365.app.entity.ScoreUserHistoryParamBean">
		select role from userFamilyRelation where userId=#{userId} and familyId=#{familyId}
	</select>
	
	<select id="queryScoreByDay" resultType="com.idata365.app.entity.ScoreByDayBean" parameterType="com.idata365.app.entity.ScoreUserHistoryParamBean">
		select score, speedingState, driveState, creditState, steadyState, mileageState from userScoreDayStat where userId=#{userId} and daystamp=#{day} and userFamilyScoreId=#{userFamilyScoreId}
	</select>
	
	<select id="queryMembersByFamily" resultType="com.idata365.app.entity.YesterdayScoreBean" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select t1.id as userId, t1.nickName as name, t1.phone as phone, t1.imgUrl as imgUrl, t2.role as role from usersAccount t1 
	join userFamilyRelation t2 on (t1.id=t2.userId)  where familyId=#{familyId} order by t2.id asc
	</select>
	
	<select id="queryFamilyRoleId" resultType="java.lang.Integer" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select id as userFamilyScoreId from userFamilyRoleLog where userId=#{userId} and familyId=#{familyId} and daystamp=#{daystamp}
	</select>
	
	<select id="queryFamilyRoleIdList" resultType="java.lang.Integer" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select id as userFamilyScoreId from userFamilyRoleLog where userId=#{userId} and familyId=#{familyId}
	</select>
	
	<select id="queryUserScore" resultType="java.lang.Double" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select score from userScoreDayStat where userId=#{userId} and userFamilyScoreId=#{userFamilyScoreId}
	</select>
	
	<select id="queryFamilyDriveStat" resultType="com.idata365.app.entity.FamilyDriveDayStatBean" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select * from familyDriveDayStat where familyId=#{familyId} and daystamp=#{daystamp}
	</select>
	
	<select id="queryTravels" resultType="com.idata365.app.entity.UserTravelHistoryBean" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		<![CDATA[
		select time, mileage, startTime, endTime, id as travelId, habitId, userId, createTime from userTravelHistory where userId=#{userId} and endTime>=#{startTime} and endTime<=#{endTime} order by startTime desc
		]]>
	</select>
	
	<select id="queryTravelBetweenTime" resultType="com.idata365.app.entity.UserFamilyRoleLogBean" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select startTime, endTime from userFamilyRoleLog where userId=#{userId} and familyId=#{familyId} and daystamp=#{daystamp}
	</select>
	
	<select id="queryTravelDetail" resultType="com.idata365.app.entity.UserTravelHistoryDetailBean" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select time, mileage, nightDrive, turnTimes, tiredDrive, speedTimes, brakeTimes, maxspeed, overspeedTimes from userTravelHistory where id=#{travelId}
	</select>
	
	<select id="queryScoreDetail" resultType="com.idata365.app.entity.ScoreDetailBean" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select t1.* from userScoreDayStat t1
			join userFamilyRoleLog t2 on (t1.userFamilyScoreId=t2.id) where t1.userId=#{userId} and t1.daystamp=#{day} and t2.familyId=#{familyId}
	</select>
	
	<!-- 
	<select id="queryFamilyOrderByMonth" resultType="com.idata365.app.entity.GameHistoryBean" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select orderNo, date_format(str_to_date(daystamp, '%Y-%m-%d'), '%Y/%m/%d') as daystamp 
			from familyDriveDayStat where date_format(str_to_date(daystamp, '%Y-%m-%d'), '%Y-%m')=#{month} and familyId=#{familyId} order by daystamp asc
	</select>
	 -->
	
	<select id="queryFamilyOrderByMonth" resultType="com.idata365.app.entity.GameHistoryBean" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		<![CDATA[
select orderNo, date_format(str_to_date(daystamp, '%Y-%m-%d'), '%Y/%m/%d') as daystamp 
		from familyDriveDayStat where daystamp>=#{startDay} and daystamp<=#{endDay} and familyId=#{familyId} order by daystamp asc
		]]>
	</select>
	
	<select id="queryStartEndDay" resultType="com.idata365.app.entity.FamilyScoreBean" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select startDay, endDay from familyScore where familyId=#{familyId} order by endDay desc
	</select>
	
	<select id="queryUserInfo" resultType="com.idata365.app.entity.UsersAccountBean" parameterType="com.idata365.app.entity.UsersAccountBean">
		select nickName, phone, imgUrl, createTime from usersAccount where id=#{id}
	</select>
	
	<select id="statMileage" resultType="java.lang.Double" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select sum(mileage) as totalMileage from userScoreDayStat where userId=#{userId} 
		and familyId=#{familyId}
	</select>
	
	<select id="statTime" resultType="java.lang.Double" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		select sum(time) as totalTime from userScoreDayStat where userId=#{userId} 
		and familyId=#{familyId}  
	</select>
	
	<update id="updateUseHoldNum" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		update userScoreDayStat set useHoldNum=useHoldNum+1 where userId=#{userId} and daystamp=#{daystamp}
	</update>
	
	<update id="updateUseZhitiao" parameterType="com.idata365.app.entity.ScoreFamilyInfoParamBean">
		update userScoreDayStat set useZhitiao=useZhitiao+1 where userId=#{userId} and daystamp=#{daystamp}
	</update>
	
	<select id="getMemberInfoByTime" resultType="java.util.HashMap">
		select userId,score from userScoreDayStat where familyId=#{familyId} and daystamp=#{daystamp}
	</select>
	<insert id="insertFamilyScore" parameterType="com.idata365.app.entity.FamilyScoreBean">
	INSERT IGNORE  INTO 
            familyScore
            (familyId,familyType,trophy,startDay,endDay) 
        VALUES
             (#{familyId},#{familyType},#{trophy},#{startDay},#{endDay})
	</insert>
</mapper>