<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.SystemVisionMapper">

	<select id="querySystemVisionInfo" parameterType="com.idata365.app.entity.SystemVisionBean"
		resultType="com.idata365.app.entity.SystemVisionBean">
		select * 
		from systemVision 
		where phoneType=#{phoneType} and vision=#{vision}
	</select>
	<select id="queryAllSystemVisionInfo" parameterType="com.idata365.app.entity.SystemVisionBean"
		resultType="com.idata365.app.entity.SystemVisionBean">
		select * 
		from systemVision 
		where phoneType=#{phoneType} order by id
	</select>

</mapper>