<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.ThirdPartyLoginMapper">

	<select id="queryThirdPartyLoginById" resultType="java.util.HashMap">
		select * from thirdPartyLogin where openId=#{openId} order by createTime desc limit 1
	</select>
	
	<select id="queryThirdPartyLoginByUserId" resultType="java.util.HashMap">
		select * from thirdPartyLogin where userId=#{userId} order by createTime desc limit 1
	</select>
	
	<select id="queryWXIsBind" resultType="java.lang.Integer">
		select count(1) from thirdPartyLogin where userId=#{userId} and loginType=1
	</select>
	
	<select id="queryQQIsBind" resultType="java.lang.Integer">
		select count(1) from thirdPartyLogin where userId=#{userId} and loginType=2
	</select>
	
	<insert id="insertLogs"   parameterType="java.util.HashMap" >
       INSERT INTO 
            thirdPartyLogin
            (openId,loginType,userId,remark,createTime) 
        VALUES
            (#{openId},#{loginType},#{userId},#{remark},now())
    </insert>
    
    <update id="updateByOpenId" >
       UPDATE thirdPartyLogin SET userId = #{userId} WHERE openId = #{openId}
    </update>
    
    <update id="unBind" >
       UPDATE thirdPartyLogin SET userId = null WHERE userId = #{userId} and loginType=#{loginType}
    </update>
    
    <update id="updateLogs" parameterType="java.util.HashMap">
       UPDATE thirdPartyLogin SET loginType=#{loginType},remark=#{remark},updateTime=now() WHERE openId=#{openId}
    </update>

	
</mapper>