<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.TripMapper">
 
 
    <select id="getTripByUserLatest" resultType="java.util.HashMap" parameterType="java.lang.Long">
       SELECT *
       FROM  userTravelHistory where addDayStatFlag=1 and userId=#{userId} and flag=1 order by id desc limit 1
     </select>
     
     <select id="getTripEndTimeOfUser" resultType="java.lang.String" parameterType="java.lang.Long">
       SELECT endTime
       FROM  userTravelHistory where userId=#{userId} order by id desc limit 1
     </select>
     
     <update id="getHiddenTrip" parameterType="java.lang.Long">
		update userTravelHistory set flag=0 where id=#{travelId}
	 </update>
	
        <select id="getTripSpeciality" resultType="java.util.HashMap" parameterType="java.lang.Long">
       SELECT *
       FROM  userTravelHistory where addDayStatFlag=1 and id=#{travelId}  order by id desc limit 1
     </select>
     
    <select id="getTripLatest" resultType="java.util.HashMap" parameterType="java.util.HashMap">
       SELECT *
       FROM  userTravelHistory where addDayStatFlag=1 and flag=1 and userId=#{userId} and id<![CDATA[<]]>${id} order by id desc limit ${recordNum}
     </select>
     
     <select id="getTodayCountTrip" resultType="java.lang.Integer" parameterType="java.lang.Long">
		SELECT IFNULL(count(1),0) FROM userTravelHistory where userId=#{userId} and DATE_FORMAT(createTime,'%m%d%Y')=DATE_FORMAT(NOW(),'%m%d%Y')
	</select>
	
	 <select id="getTripCountOnce100Score" resultType="java.lang.Integer" parameterType="java.lang.Long">
		SELECT IFNULL(count(1),0) FROM userTravelHistory where userId=#{userId} and score=100
	</select>
	
	 <select id="getTotalMileage" resultType="java.lang.Double" parameterType="java.lang.Long">
		SELECT IFNULL(sum(mileage),0) FROM userTravelHistory where userId=#{userId}
	</select>
	
	<select id="getTripCountQuintic100Score" resultType="java.lang.String" parameterType="java.lang.Long">
		select GROUP_CONCAT(IF(score=100,1,0)) score from userTravelHistory where userId=#{userId}
	</select>
	
     
</mapper>