<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.UserCarMapper">
    <resultMap id="BaseUserCarMap" type="com.idata365.app.entity.UserCar" >
    </resultMap>
    
    <insert id="initUserCar" >
       INSERT INTO userCar (userId,carId,createTime) VALUES (#{userId}, 1, now())
    </insert>
    
    <insert id="sendUserCarAndCarIdIs3" >
       INSERT INTO userCar (userId,carId,createTime) VALUES (#{userId}, 2, now())
    </insert>
    
    <select id="getUserCarById" resultMap="BaseUserCarMap" parameterType="java.lang.Long">
       SELECT * from userCar  where userId=#{userId}
    </select>
</mapper>