<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.UsersAccountMapper">
    <resultMap id="BaseResultMap" type="com.idata365.app.entity.UsersAccount" >
    </resultMap>

     <select id="findAccountByPhone" resultMap="BaseResultMap" parameterType="com.idata365.app.entity.UsersAccount">
       SELECT *
       FROM  usersAccount where phone=#{phone}
     </select>
     
     
      <insert id="insertUser"   useGeneratedKeys="true" keyProperty="id"  parameterType="com.idata365.app.entity.UsersAccount" >
       INSERT ignore  INTO 
            usersAccount
            (phone,pwd,lastLoginTime,createTime) 
        VALUES
            (#{phone}, #{pwd},now(),now())
    </insert>
    
    <update id="updateUserPwd"   parameterType="com.idata365.app.entity.UsersAccount" >
       update  
            usersAccount
             set pwd=#{pwd},lastLoginTime=now()
            where phone=#{phone}
    </update>
   <update id="updateUserLogin"  parameterType="com.idata365.app.entity.UsersAccount" >
       update  
            usersAccount
             set lastLoginTime=now()
            where phone=#{phone}
    </update>
</mapper>