<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.AuctionGoodMapper">
	<resultMap id="BaseResultMap" type="com.idata365.app.entity.AuctionGoods">
	</resultMap>
	
	<select id="listAuctionGoods" resultMap="BaseResultMap">
		select * from auctionGoods order by auctionEndTime desc
	</select>
	
	<select id="findAuctionGoodById" resultMap="BaseResultMap">
		select * from auctionGoods where auctionGoodsId=#{auctionGoodsId}
	</select>
	
	<insert id="insertAuctionGoods"
		parameterType="com.idata365.app.entity.AuctionGoods">
		insert into auctionGoods
		(prizeName,prizeDesc,prizePic,startDiamond,doneDiamond,stepPrice,auctionStartTime,auctionEndTime,auctionRealEndTime,ofUserId,createTime,auctionGoodsType,auctionTag)
		values(#{prizeName},#{prizeDesc},#{prizePic},#{startDiamond},#{startDiamond},#{stepPrice},#{auctionStartTime},#{auctionEndTime},#{auctionRealEndTime},#{ofUserId},now(),#{auctionGoodsType},#{auctionTag})
	 </insert>
	 
	 <update id="updateAuctionGoods"
		parameterType="com.idata365.app.entity.AuctionGoods">
		update auctionGoods set
		winnerId=#{winnerId},doneDiamond=#{doneDiamond},auctionRealEndTime=#{auctionRealEndTime}
		where
		auctionGoodsId=#{auctionGoodsId} and <![CDATA[doneDiamond<#{doneDiamond}]]>
	</update>
	
	<update id="updateGoodsStatus" >
		update auctionGoods set
		auctionStatus=#{auctionStatus} where auctionGoodsId=#{auctionGoodsId}
	</update>
	
	<select id="getChartInfoByTag" resultType="java.util.HashMap" >
       SELECT
			avg( doneDiamond ) AS diamondsNum,
			DATE_FORMAT( auctionRealEndTime, '%Y-%m-%d' ) AS time 
		FROM
			auctionGoods 
		WHERE
			auctionTag = #{auctionTag} 
			AND auctionStatus != 0 
		GROUP BY
			( DATE_FORMAT( auctionRealEndTime, '%Y-%m-%d' ) ) 
		ORDER BY
			auctionRealEndTime DESC
     </select>
     
     <select id="getChartInfoByTag10Time" resultType="java.util.HashMap" >
       SELECT
			avg( doneDiamond ) AS diamondsNum,
			DATE_FORMAT( auctionRealEndTime, '%Y-%m-%d' ) AS time 
		FROM
			( SELECT * FROM auctionGoods WHERE auctionTag = #{auctionTag} AND auctionStatus != 0 ORDER BY auctionRealEndTime DESC LIMIT 10 ) AS t 
		GROUP BY
			( DATE_FORMAT( auctionRealEndTime, '%Y-%m-%d' ) ) 
		ORDER BY
			auctionRealEndTime DESC
     </select>
	
	
		<!-- 竞拍定时任务 -->
		<!-- 定时处理行程逻辑 -->
		
   <update id="updateGoodsStatusByTask"  parameterType="com.idata365.app.entity.AuctionGoods">
		update auctionGoods set
		auctionStatus=#{auctionStatus} where auctionGoodsId=#{auctionGoodsId}
	</update>
	 <update id="updateGoodsByTask"  parameterType="com.idata365.app.entity.AuctionGoods">
		update auctionGoods set
		winnerId=#{winnerId},doneDiamond=#{doneDiamond},auctionStatus=#{auctionStatus} where auctionGoodsId=#{auctionGoodsId}
	</update>	
    <update id="lockAuctionTask" parameterType="com.idata365.app.entity.AuctionGoods" >
       UPDATE 
            auctionGoods 
       SET 
        taskStatus=-1,taskFlag=#{taskFlag},taskTime=now()
       WHERE 
            taskStatus = 0  and taskFlag='0' and auctionStatus=0 and <![CDATA[auctionRealEndTime<now()]]>
    </update>	
	<!-- 获取任务 -->
	 <select id="getAuctionTask"  resultMap="BaseResultMap" parameterType="com.idata365.app.entity.AuctionGoods">
		SELECT *  from auctionGoods where taskStatus=-1 and taskFlag=#{taskFlag}
	 </select>
 
	 <!-- 更新任务 -->
     <update id="updateAuctionSuccTask" parameterType="com.idata365.app.entity.AuctionGoods" >
        update auctionGoods set
        taskStatus=1,taskTime=now()
        where  auctionGoodsId=#{auctionGoodsId}
     </update>

    <update id="updateAuctionFailTask" parameterType="com.idata365.app.entity.AuctionGoods" >
       UPDATE 
           auctionGoods 
       SET 
           taskStatus=#{taskStatus},taskFlag='0',taskTime=now(),failTimes=failTimes+1
       WHERE 
            auctionGoodsId=#{auctionGoodsId} 
     </update>
     
     <!-- 清除锁定的记录 -->
    <update id="clearLockTask" parameterType="java.lang.Long" >
       UPDATE 
           auctionGoods 
       SET 
           taskStatus=0,taskFlag='0',failTimes=failTimes+1
       WHERE 
              taskStatus=-1 and taskFlag<![CDATA[<]]>${compareTimes}
     </update>
     
<!-- 定时处理行程逻辑 结束-->	
</mapper>