<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.PrizeMapper">
	<resultMap id="BaseResultMap"
		type="com.idata365.app.entity.Prize">
	</resultMap>
	
	<select id="selectByExample" resultMap="BaseResultMap">
		select * from prize where stock>0 and isMarketable=1 order 
		by diamondValue desc
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		*
		from prize
		where prizeId = #{prizeId,jdbcType=BIGINT}
	</select>

	<update id="div" parameterType="com.idata365.app.entity.Prize">
		update prize set stock=(stock-#{ordernum}) where stock>=#{ordernum} and prizeId=#{prizeId}
	</update>
</mapper>