<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.BoxTreasureMapper">
    
    <select id="getTripBoxIds" parameterType="java.util.HashMap" resultType="com.idata365.app.entity.v2.BoxTreasureUser">
		select * from boxTreasureUser where toUserId=#{userId} and gainType=#{gainType}  and 
		<![CDATA[ createTime>#{createTime}]]> and hadGet=0 group by boxId
	</select>
	
	
	 <select id="getChallengeBoxIds" parameterType="java.util.HashMap" resultType="com.idata365.app.entity.v2.BoxTreasureFamily">
		select * from boxTreasureFamily where toFamilyId=#{familyId} and gainType=#{gainType}  and 
		 daystamp=#{daystamp}  and hadGet=0 group by boxId
	</select>
	
	<select id="getChallengeBoxIdsNew" parameterType="java.util.HashMap" resultType="com.idata365.app.entity.v2.BoxTreasureFamily">
		select * from boxTreasureFamily where toFamilyId=#{familyId} and gainType=#{gainType}  and 
		 daystamp=#{daystamp}  and hadGet=0 order by componentId
	</select>
	
	<select id="getCanGetNow" resultType="java.lang.Integer">
		select count(1) from boxTreasureFamily where toFamilyId=#{familyId} and gainType=1  and daystamp=DATE_FORMAT(now(),'%Y%m%d') and hadGet=0
	</select>
	
	<select id="hadChallengeBoxIds" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		select count(1) from boxTreasureFamily where toFamilyId=#{familyId} and 
		 daystamp=#{daystamp}
	</select>
	
	
    <select id="getTripsByBoxId" parameterType="java.lang.String" resultType="com.idata365.app.entity.v2.BoxTreasureUser">
		select * from boxTreasureUser where boxId=#{boxId}  
	</select> 
		
    <select id="getFamilyTreasureByBoxId" parameterType="java.lang.String" resultType="com.idata365.app.entity.v2.BoxTreasureFamily">
		select * from boxTreasureFamily where boxId=#{boxId}  
	</select> 
	
	
    <update id="receiveBox" parameterType="java.lang.String">
		update boxTreasureUser set receiveTime=now(),hadGet=1 where  boxId=#{boxId}  
	</update> 
	 <update id="receiveBoxFamily" parameterType="java.lang.String">
		update boxTreasureFamily set receiveTime=now(),hadGet=1 where  boxId=#{boxId}  
	 </update> 
	
</mapper>