<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.CarpoolMapper">
    <resultMap id="BaseCarpoolMap" type="com.idata365.app.entity.Carpool" >
    </resultMap>
    
     <select id="getCarPool" resultType="java.util.HashMap" parameterType="java.lang.Long">
       SELECT  a.passengerId userId,b.imgUrl,b.nickName nick from carpool a left join usersAccount b on a.passengerId=b.id
        where a.userCarLogsId=#{userCarLogsId} and a.isComplete=0
     </select>
       <select id="getSelfTravelBy" resultType="java.util.HashMap" parameterType="java.lang.Long">
       SELECT  * from carpool  
        where  passengerId=#{passengerId} and  isComplete=0 limit 1
     </select>   
     
        <select id="getPassengersNum" resultType="java.lang.Integer" parameterType="java.lang.Long">
       SELECT  count(1) from carpool where userCarLogsId=#{userCarLogsId} and isComplete=0
     </select>  
     <select id="getCarpoolRecords" resultType="java.util.HashMap" parameterType="java.util.HashMap">
           select id,travelId,count(1) num,driverId, SUM(driverPower) driverPower ,sum(passengerPower) passengerPower,
           getOffTime,userCarLogsId
            from carpool  where travelId>0
			and (driverId=#{userId} or passengerId=#{userId}) and id<![CDATA[<]]>${maxId}
				group by travelId order by id desc limit 10
     </select>
     <select id="isDriver" resultType="java.lang.Integer" parameterType="java.lang.Long">
       SELECT  count(1) from carpool where driverId=#{driverId} and isComplete=0
     </select> 
     
     <select id="waitHave" resultType="java.lang.Integer" parameterType="java.lang.Long">
       select count(1) from carpool where passengerId=#{userId} and now()<![CDATA[>]]>createTime and isComplete=0
     </select> 
     
     <select id="querySitsNum" resultType="java.lang.Integer" parameterType="java.lang.Long">
       select count(1) from carpool where driverId=#{userId} and now()<![CDATA[>]]>createTime and isComplete=0
     </select>
    <!--  根据userId和CarID查看当前时间的搭车人数 -->
     <select id="querySitsNumById" resultType="java.lang.Integer">
       select count(1) from carpool where driverId=#{userId} and now()<![CDATA[>]]>createTime and isComplete=0 and carId=#{carId}
     </select>
     
     <insert id="insertCarpool"  parameterType="com.idata365.app.entity.Carpool" >
       INSERT INTO 
            carpool
            (driverId,passengerId,carId,userCarLogsId,createTime) 
        VALUES
            (#{driverId},#{passengerId}, #{carId},#{userCarLogsId},now())
    </insert>
     
     
    <update id="offCar"  parameterType="com.idata365.app.entity.Carpool" >
       update    
            carpool
           set isComplete=1,getOffTime=now() where  userCarLogsId=#{userCarLogsId}
           and passengerId=#{passengerId} and isComplete=0
    </update>
    
    <select id="getTodayLiftCountByUserId" resultType="Integer" parameterType="java.lang.Long">
       SELECT  count(1) from carpool  
        where  passengerId=#{passengerId} and  isComplete=1 and date_format(createTime,'%Y%m%d')=date_format(now(),'%Y%m%d')
     </select>
     
     <select id="getTotalLiftCountByUserId" resultType="Integer" parameterType="java.lang.Long">
       SELECT  count(1) from carpool  
        where  passengerId=#{passengerId} and  isComplete=1
     </select>
</mapper>