<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.ComponentMapper">

<select id="countFreeCabinet" parameterType="java.util.HashMap" resultType="java.lang.Integer">
	select (12-count(1)) from componentUser 
	 where userId=#{userId}
	 and componentStatus=1 and inUse=0
</select>
 
  <select id="getFreeComponentUser" resultType="com.idata365.app.entity.v2.ComponentUser">
	select * from componentUser 
	 where userId=#{userId}
	 and componentStatus=1 and inUse=0
</select>   

  <select id="getFreeComponentUserGroupType" resultType="java.util.HashMap">
		select count(1) hadNum,componentType from componentUser 
		where userId=#{userId} and inUse=0 and componentStatus=1 group by componentType
</select> 
  <select id="getFreeComponentFamily" resultType="com.idata365.app.entity.v2.ComponentFamily">
	select * from componentFamily 
	 where familyId=#{familyId}
	 and componentStatus=1
</select>   



 <insert id="insertComponentUser"  parameterType="com.idata365.app.entity.v2.ComponentUser" >
     INSERT INTO 
          componentUser
          (componentId,userId,createTime,inUse,leftTravelNum,componentStatus,gainType,componentType) 
      VALUES
          (#{componentId},#{userId},now(),#{inUse},#{leftTravelNum},#{componentStatus},#{gainType},#{componentType})
</insert> 

<insert id="insertComponentUserUseLog"  parameterType="com.idata365.app.entity.v2.ComponentUser" >
     INSERT INTO 
          componentUserUseLog
          (componentId,userId,userComponentId,eventTime,eventType,userCarId) 
      VALUES
          (#{componentId},#{userId},#{userComponentId},now(),#{eventType},#{userCarId})
</insert> 
 
 
 
 <select id="countFamilyFreeCabinet" parameterType="java.util.HashMap" resultType="java.lang.Integer">
	select (24-count(1)) from componentFamily 
	 where familyId=#{familyId}
	 and componentStatus=1
</select>
 
     
 <insert id="insertComponentFamily"  parameterType="com.idata365.app.entity.v2.ComponentUser" >
     INSERT INTO 
          componentFamily
          (componentId,familyId,createTime,componentStatus,gainType,componentType) 
      VALUES
          (#{componentId},#{familyId},now(),#{componentStatus},#{gainType},#{componentType})
</insert>


 <insert id="insertComponentGiveLog"  parameterType="com.idata365.app.entity.v2.ComponentGiveLog" useGeneratedKeys="true" keyProperty="id">
     INSERT IGNORE  INTO 
          componentGiveLog
          (componentId,fromId,operationManId,fromComponentId,eventTime,logType,toUserId,giveStatus,uniKey,daystamp) 
      VALUES
          (#{componentId},#{fromId},#{operationManId},#{fromComponentId},now(),#{logType},#{toUserId},#{giveStatus},#{uniKey},#{daystamp})
</insert>
 
 
 <select id="getComponentGiveLog" parameterType="java.util.HashMap" resultType="com.idata365.app.entity.v2.ComponentGiveLog">
	select * from componentGiveLog 
	 where fromId=#{familyId} and logType=#{logType} and eventTime<![CDATA[>]]>#{eventTime}
</select>


 <select id="findComponentGiveLog" resultType="com.idata365.app.entity.v2.ComponentGiveLog">
	select * from componentGiveLog 
	 where id=#{id}
</select>
 
<select id="findComponentGiveLogByMap" parameterType="java.util.HashMap" resultType="com.idata365.app.entity.v2.ComponentGiveLog">
	select * from componentGiveLog 
	 where daystamp=#{daystamp} and logType=2 and toUserId=#{userId}
</select>
     
     
 <update id="dropFamilyComponent" >
     update
          componentFamily
          set componentStatus=2 where id=#{familyComponentId} and componentStatus=1
</update> 


 <select id="getFamilyComponent" resultType="com.idata365.app.entity.v2.ComponentFamily" >
	select * from componentFamily 
	 where id=#{familyComponentId}
</select>


 <select id="getComponentUser" resultType="com.idata365.app.entity.v2.ComponentUser">
	select * from componentUser 
	 where id=#{userComponentId}
</select>
    
<update id="updateFamilyComponent"  parameterType="java.util.HashMap" >
     update
          componentFamily
          set componentStatus=#{componentStatus} where id=#{familyComponentId} and componentStatus=1
</update> 
<update id="gotFamilyComponent"  parameterType="java.util.HashMap" >
     update
          componentFamily
          set componentStatus=#{componentStatus} where id=#{familyComponentId} and componentStatus=1
</update> 
<select id="getUserComponentByType"  parameterType="java.util.HashMap" resultType="com.idata365.app.entity.v2.ComponentUser">
     select * from 
          componentUser where componentStatus=1 and inUse=0
          and  componentType=#{componentType} and userId=#{userId} limit 1
</select>
<select id="getFreeComponentTypeUser"  parameterType="java.util.HashMap" resultType="com.idata365.app.entity.v2.ComponentUser">
     select * from 
          componentUser where componentStatus=1 and inUse=0
          and  componentType=#{componentType} and userId=#{userId} group by componentId
</select>
 
<update id="gotUserComponent"  parameterType="com.idata365.app.entity.v2.ComponentUser">
      update
          componentUser
          set componentStatus=3 where id=#{id} and componentStatus=1
</update> 


<update id="updateUserComponent"  parameterType="java.util.HashMap" >
     update
          componentUser
          set inUse=#{inUse},componentStatus=#{componentStatus},userCarId=#{userCarId} where id=#{userComponentId}
</update> 

<update id="recieveComponentGiveLog" >
     update
          componentGiveLog
          set giveStatus=2,recievedTime=now() where id=#{id}
</update> 
 
<update id="updateComponentGiveLog"   parameterType="com.idata365.app.entity.v2.ComponentGiveLog">
     update
          componentGiveLog
          set giveStatus=#{giveStatus},operationManId=#{operationManId} where id=#{id}
</update> 
 
<update id="updateComponentGiveLogApplyPraying"   parameterType="com.idata365.app.entity.v2.ComponentGiveLog">
     update
          componentGiveLog
          set giveStatus=#{giveStatus},operationManId=#{operationManId},
            componentId=#{componentId},fromComponentId=#{fromComponentId},
          fromId=#{fromId}
           where id=#{id}
</update> 
<update id="ignoreGiveLog"   parameterType="com.idata365.app.entity.v2.ComponentGiveLog">
     update
          componentGiveLog
          set giveStatus=#{giveStatus},operationManId=#{operationManId} where fromComponentId=#{fromComponentId}
          and logType=3 and id!=#{id}
</update> 
<select id="countOfPray" resultType="Integer">
	SELECT COUNT(1) FROM componentGiveLog WHERE toUserId = #{userId} AND date_format( eventTime, '%Y%m%d' ) = date_format( now( ), '%Y%m%d' ) AND logType =3
</select> 

<select id="countHadRequest" resultType="Integer">
	SELECT COUNT(1) FROM componentGiveLog WHERE toUserId = #{userId} AND daystamp =#{daystamp} AND logType =3 AND (giveStatus=2 or giveStatus=1)
</select>

<select id="countGetGive" resultType="Integer">
	SELECT COUNT(1) FROM componentGiveLog WHERE toUserId = #{userId} AND logType =1 AND giveStatus=2
</select>

<select id="countAllotGive" resultType="Integer">
	SELECT COUNT(1) FROM componentGiveLog WHERE operationManId = #{userId} AND logType =1
</select>

<select id="countSendRequest" resultType="Integer">
	SELECT COUNT(1) FROM componentGiveLog WHERE operationManId = #{userId} AND logType =2
</select>
    
</mapper>