<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.ComponentMapper">

<select id="countFreeCabinet" parameterType="java.util.HashMap" resultType="java.lang.Integer">>
	select (12-count(1)) from componentUser 
	 where userId=#{userId}
	 and componentStatus=1 and inUse=0
</select>
 
     
 <insert id="insertComponentUser"  parameterType="com.idata365.app.entity.v2.ComponentUser" >
     INSERT INTO 
          componentUser
          (componentId,userId,createTime,inUse,leftTravelNum,componentStatus,gainType,componentType) 
      VALUES
          (#{componentId},#{userId},now(),#{inUse},#{leftTravelNum},#{componentStatus},#{gainType},#{componentType})
</insert> 
 
 <select id="countFamilyFreeCabinet" parameterType="java.util.HashMap" resultType="java.lang.Integer">>
	select (24-count(1)) from componentFamily 
	 where familyId=#{familyId}
	 and componentStatus=1
</select>
 
     
 <insert id="insertComponentFamily"  parameterType="com.idata365.app.entity.v2.ComponentUser" >
     INSERT INTO 
          componentFamily
          (componentId,familyId,createTime,componentStatus,gainType,componentType) 
      VALUES
          (#{componentId},#{familyId},now(),#{componentStatus},#{gainType},#{componentType})
</insert>    
    
</mapper>