<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.DicRuleMapper">
    
    <select id="getRulesByType" resultType="java.util.HashMap">
 		select * from dicRule where ruleType=select ruleType,ruleTypeValue as ruleName,title,content,image from dicRule where ruleType=#{ruleType}
 	</select>
</mapper>