<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.FamilyInviteMapper">
    <resultMap id="BaseResultMap" type="com.idata365.app.entity.FamilyInvite" >
    </resultMap>
    <insert id="insertFamilyInviteHadReg" useGeneratedKeys="true" keyProperty="id"  parameterType="com.idata365.app.entity.FamilyInvite" >
       INSERT INTO 
            familyInvite
            (familyId,memberPhone,memberUserId,sendInviteMsg,createTime,sendTime,leaveWord) 
        VALUES
            (#{familyId}, #{memberPhone},#{memberUserId},1,now(),now(),#{leaveWord})
    </insert>
     <insert id="insertFamilyInviteNoReg" useGeneratedKeys="true" keyProperty="id"  parameterType="com.idata365.app.entity.FamilyInvite" >
       INSERT INTO 
            familyInvite
            (familyId,memberPhone,memberUserId,sendInviteMsg,createTime) 
        VALUES
            (#{familyId}, #{memberPhone},0,0,now())
    </insert>
         <update id="updateFamilyInviteWhenReg"   parameterType="com.idata365.app.entity.FamilyInvite" >
      update
            familyInvite
            set memberUserId=#{memberUserId},sendTime=now() where id=#{id}
    </update>
    
     <select id="getFamilyInviteByPhone" resultMap="BaseResultMap" parameterType="java.lang.String">
       SELECT *
       FROM  familyInvite where memberPhone=#{phone} and memberUserId=0
     </select>
</mapper>