<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.GameMapper">
	
	<select id="queryFamilyDriveDayStat" resultType="com.idata365.app.entity.ViolationStatBean" parameterType="com.idata365.app.entity.ViolationStatParamBean">
		select * from familyDriveDayStat where familyId=#{familyId} and daystamp=#{daystamp}
	</select>
	
	<select id="queryIdleFamily" resultType="java.lang.Long" parameterType="com.idata365.app.entity.GameFamilyParamBean">
		select t1.id as familyId from familyInfo t1 join familyScore t2 on (t1.id=t2.familyId) where familyType=#{familyType} and t1.id!=#{familyId} and t1.id not in(select distinct selfFamilyId from familyRelation) order by t1.id asc
	</select>
	
	<insert id="saveFamilyRelation" parameterType="com.idata365.app.entity.FamilyRelationParamBean" useGeneratedKeys="true" keyProperty="id" >
		insert into familyRelation(selfFamilyId, competitorFamilyId, daystamp) values(#{selfFamilyId}, #{competitorFamilyId}, #{daystamp});
	</insert>
	
	<select id="queryStations" resultType="com.idata365.app.entity.StationBean" parameterType="com.idata365.app.entity.FamilyRelationParamBean">
		select id as stationId, status, familyId from parkStation where familyRelationId=#{familyRelationId} order by id asc
	</select>
	
	<update id="updateToStopParkStation" parameterType="com.idata365.app.entity.GameFamilyParamBean">
		update parkStation set userId=#{userId}, familyId=#{familyId}, status='STOP' where id=#{stationId} and (status='NO_PEOPLE' or (familyId=#{familyId} and status='HOLD'))
	</update>
	
	<update id="updateToHoldParkStation" parameterType="com.idata365.app.entity.GameFamilyParamBean">
		update parkStation set familyId=#{familyId}, status='HOLD' where id=#{stationId} and status='NO_PEOPLE'
	</update>
	
	<select id="queryFamilyOtherUserId" resultType="java.lang.Long" parameterType="com.idata365.app.entity.GameFamilyParamBean">
		select userId from userFamilyRelation where familyId=#{familyId} and userId!=#{userId} order by id asc
	</select>
</mapper>