<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.UserShareLogsMapper">

    <insert id="insertShareLogs" parameterType="java.util.HashMap">
		INSERT INTO userShareLogs (userId,daystamp,shareType) values (#{userId},NOW(),#{shareType})
	</insert>
	
	<select id="queryUserShareCountToday" resultType="java.lang.Integer" parameterType="java.lang.Long">
		SELECT IFNULL(count(1),0) FROM userShareLogs where userId=#{userId} and DATE_FORMAT(daystamp,'%m%d%Y')=DATE_FORMAT(NOW(),'%m%d%Y') and shareType=2
	</select>
    
</mapper>