<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.UserCarLogsMapper">
    <resultMap id="BaseUserCarLogsMap" type="com.idata365.app.entity.UserCarLogs" >
    </resultMap>
    
    <select id="getUserCar" resultType="java.util.HashMap" parameterType="java.util.HashMap">
       SELECT a.*,b.carName,b.carSeat,b.carUrl,b.clubScoreUpPercent from userCarLogs a left join dicCar b on a.carId=b.carId
       where a.startTime<![CDATA[<=]]>#{nowTime} and a.endTime<![CDATA[>]]>#{nowTime}
       and a.userId=#{userId}
     </select>
     
     <select id="getUserCarLogById" resultMap="BaseUserCarLogsMap" parameterType="java.lang.Long">
       SELECT * from userCarLogs  where id=#{id}
     </select>
     
     <select id="getUserCarHistory" resultType="java.util.HashMap" parameterType="java.lang.Long">
       SELECT a.*,b.carName,c.nickName from userCarLogs a left join dicCar b on a.carId=b.carId
       left join usersAccount c on a.userId=c.id
       where   a.id=#{id}
     </select>
     
     <insert id="initUserCar" parameterType="com.idata365.app.entity.UserCarLogs">
       INSERT INTO userCarLogs (userId,carId,startTime,endTime,userCarId) VALUES (#{userId}, #{carId}, #{startTime},str_to_date('2118-01-01 00:00:00','%Y-%m-%d %H:%i:%s'),#{userCarId})
     </insert>
    
     <update id="updateEndTimeById" parameterType="com.idata365.app.entity.UserCarLogs">
		update userCarLogs set endTime=#{endTime} where id=#{id}
	 </update>
	 
	 <insert id="insertUserCarLogs" parameterType="com.idata365.app.entity.UserCarLogs">
       INSERT INTO userCarLogs (userId,carId,startTime,endTime,userCarId) VALUES (#{userId}, #{carId}, #{startTime},str_to_date('2118-01-01 00:00:00','%Y-%m-%d %H:%i:%s'),#{userCarId})
     </insert>
</mapper>