<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.UserLivenessLogMapper">


    <select id="getLiveness" resultType="com.idata365.app.entity.v2.DicLiveness">
  	  select * from dicLiveness
    </select>


    <insert id="insertUserLivenessLog" parameterType="java.util.HashMap">
             insert into userLivenessLog
             (userId, livenessId, eventTime,livenessName,livenessValue)
              values (#{userId},#{livenessId},#{eventTime},#{livenessName},#{livenessValue})

  </insert>

    <select id="getUserLivenessLog" resultType="java.util.HashMap">
  	  select * from userLivenessLog where userId=#{userId} and date(eventTime)=date(now())
    </select>

    <select id="getTodayCountById" resultType="java.lang.Integer">
  	  select count(1) from userLivenessLog where userId=#{userId} and date(eventTime)=date(now()) and livenessId=#{livenessId}
    </select>

    <select id="get1DayLivenessValue" resultType="java.lang.Integer">
  	  SELECT IFNULL(sum(livenessValue),0) FROM userLivenessLog where date(eventTime)=date(now()) and userId=#{userId}
    </select>

    <select id="get7DayLivenessValue" resultType="java.lang.Integer">
        SELECT IFNULL(sum(livenessValue),0) FROM userLivenessLog where <![CDATA[date(date_add(now(), interval -7 day))<=date(eventTime)<=date(now())]]> and userId=#{userId}
    </select>

    <select id="getYesterdayLivenessValueByFamilyId" resultType="java.lang.Integer">
       SELECT IFNULL(sum(livenessValue),0) FROM userLivenessLog where date(eventTime)=date(date_add(now(), interval -1 day)) and userId in(select userId from userFamilyRelation where familyId=#{familyId})
    </select>

    <select id="get7dayLivenessValueByFamilyId" resultType="java.lang.Integer">
       SELECT IFNULL(sum(livenessValue),0) FROM userLivenessLog where date(eventTime)=date(date_add(now(), interval -7 day)) and userId in(select userId from userFamilyRelation where familyId=#{familyId})
    </select>

</mapper>