<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.UserLookAdMapper">


    <select id="getTodayCount" resultType="Integer">
        SELECT count(1) FROM userLookAdLogs WHERE userId = #{userId} and daystamp=#{daystamp} and valid=1 and type=1 and hadGet=1
    </select>
    
    <select id="getTodayCountAllType" resultType="Integer">
        SELECT count(1) FROM userLookAdLogs WHERE userId = #{userId} and daystamp=#{daystamp} and valid=1
    </select>

    <insert id="insertLogs"  parameterType="com.idata365.app.entity.v2.UserLookAdLogs" >
       INSERT INTO 
            userLookAdLogs
            (userId,createTime,daystamp,remark,powerNum,adSign,adPassId,valid,type,hadGet) 
        VALUES
            (#{userId}, #{createTime}, #{daystamp}, #{remark}, #{powerNum},#{adSign},#{adPassId},#{valid},#{type},#{hadGet})
    </insert>
    
    <select id="getUserLastLookInfo" resultType="com.idata365.app.entity.v2.UserLookAdLogs" >
        SELECT * FROM userLookAdLogs WHERE userId = #{userId} and type=1 and valid=1 and date(createTime)=date(now()) order by createTime desc limit 1
    </select>
    
    <select id="getAllPowerNumOfType2" resultType="Long" >
        SELECT IFNULL(sum(powerNum),0) FROM userLookAdLogs WHERE userId = #{userId} and type=2 and daystamp=DATE_FORMAT(now(),'%Y-%m%-%d')
    </select>
    
    <select id="countOfLoadFlagZero" resultType="Integer" >
        SELECT count(1) FROM userLookAdLogs WHERE userId = #{userId} and type=2 and daystamp=DATE_FORMAT(now(),'%Y-%m%-%d') and remark='0' and valid=1
    </select>
    
    <select id="queryTodayLoadFlag" resultType="java.lang.String" >
        SELECT remark FROM userLookAdLogs WHERE userId = #{userId} and type=2 and daystamp=DATE_FORMAT(now(),'%Y-%m%-%d')
    </select>
    
    <update id="updateHadGet" >
       UPDATE userLookAdLogs SET hadGet=1 WHERE userId = #{userId} and adPassId=#{adPassId} and daystamp=#{daystamp} and valid=1 and hadGet=0
    </update>

</mapper>