<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.ImMapper">
    <select id="getMsg" resultType="java.util.HashMap" parameterType="java.util.HashMap">
       SELECT id,cast(familyId as  CHAR(32)) familyId,cast(msgType as  CHAR(32)) as type,
       cast(userId as  CHAR(32)) as userId,CONCAT(#{imgPath},imgUrl) as imgUrl,content as msg,nick,createTime as time
       FROM  imGlobal 
       where msgType=#{msgType} and familyId=#{familyId} and id<![CDATA[<]]>${id}
       order by id desc limit 30
    </select>
    
    <insert id="insert"   useGeneratedKeys="true" keyProperty="id"  parameterType="java.util.HashMap" >
       INSERT    INTO 
            imGlobal
            (userId,familyId,msgType,content,imgUrl,nick,createTime) 
        VALUES
            (#{userId},#{familyId},#{type}, #{msg},#{imgUrl}, #{nick}, #{time})
    </insert>
    
</mapper>