<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.AuctionGoodMapper">
	<resultMap id="BaseResultMap" type="com.idata365.app.entity.AuctionGoods">
	</resultMap>
	
	<select id="listAuctionGoods" resultMap="BaseResultMap">
		select * from auctionGoods order by auctionEndTime desc
	</select>
	
	<select id="findAuctionGoodById" resultMap="BaseResultMap">
		select * from auctionGoods where auctionGoodsId=#{auctionGoodsId}
	</select>
	
	<insert id="insertAuctionGoods"
		parameterType="com.idata365.app.entity.AuctionGoods">
		insert into auctionGoods
		(prizeName,prizeDesc,prizePic,startDiamond,stepPrice,auctionStartTime,auctionEndTime,auctionRealEndTime,ofUserId)
		values(#{prizeName},#{prizeDesc},#{prizePic},#{startDiamond},#{stepPrice},#{auctionStartTime},#{auctionEndTime},#{auctionRealEndTime},#{ofUserId})
	 </insert>
	 
	 <update id="updateAuctionGoods"
		parameterType="com.idata365.app.entity.AuctionGoods">
		update auctionGoods set
		winnerId=#{winnerId},doneDiamond=#{doneDiamond},auctionRealEndTime=#{auctionRealEndTime}
		where
		auctionGoodsId=#{auctionGoodsId}
	</update>
	
</mapper>