<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idata365.app.mapper.OrderMapper">
	<resultMap id="BaseResultMap"
		type="com.idata365.app.entity.Order">
		<id column="order_id" property="orderId" jdbcType="BIGINT" />
		<result column="diamondNum" property="diamondnum"
			jdbcType="INTEGER" />
		<result column="orderType" property="ordertype"
			jdbcType="VARCHAR" />
		<result column="orderNum" property="ordernum"
			jdbcType="INTEGER" />
		<result column="orderStatus" property="orderstatus"
			jdbcType="VARCHAR" />
		<result column="orderTime" property="ordertime"
			jdbcType="TIMESTAMP" />
		<result column="userId" property="userid" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="prizeId" property="prizeid" jdbcType="BIGINT" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="provinceCode" property="provincecode"
			jdbcType="VARCHAR" />
		<result column="cityCode" property="citycode"
			jdbcType="VARCHAR" />
		<result column="areaCode" property="areacode"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		order_id, diamondNum, orderType, orderNum, orderStatus,
		orderTime, userId,
		`name`,
		prizeId, phone, address, provinceCode,
		cityCode, areaCode
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap">
		select
		*
		from `order`
		where
		userId=#{userId}
		order by orderTime desc
	</select>
	
	<select id="orderList" resultMap="BaseResultMap">
		select
		*
		from `order`
		where orderStatus='1'
		order by orderTime desc
	</select>

	<insert id="insert"
		parameterType="com.idata365.app.entity.Order">
		insert into `order` (diamondNum, orderType,
		orderNum, orderStatus,
		orderTime,
		userId, `name`, prizeId,
		phone, address, provinceCode,
		cityCode, areaCode)
		values (#{diamondnum,jdbcType=INTEGER},
		#{ordertype,jdbcType=VARCHAR},
		#{ordernum,jdbcType=INTEGER},
		#{orderstatus,jdbcType=VARCHAR},
		#{ordertime,jdbcType=TIMESTAMP},
		#{userid,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
		#{prizeid,jdbcType=BIGINT},
		#{phone,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR},
		#{provincecode,jdbcType=VARCHAR},
		#{citycode,jdbcType=VARCHAR}, #{areacode,jdbcType=VARCHAR})
		<selectKey keyProperty="orderId" order="AFTER"
			resultType="java.lang.Long">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>





	<update id="updateByPrimaryKey"
		parameterType="com.idata365.app.entity.Order">
		update order
		set diamondNum =
		#{diamondnum,jdbcType=INTEGER},
		orderType =
		#{ordertype,jdbcType=VARCHAR},
		orderNum = #{ordernum,jdbcType=INTEGER},
		orderStatus = #{orderstatus,jdbcType=VARCHAR},
		orderTime =
		#{ordertime,jdbcType=TIMESTAMP},
		userId = #{userid,jdbcType=BIGINT},
		name = #{name,jdbcType=VARCHAR},
		prizeId = #{prizeid,jdbcType=BIGINT},
		phone = #{phone,jdbcType=VARCHAR},
		address =
		#{address,jdbcType=VARCHAR},
		provinceCode =
		#{provincecode,jdbcType=VARCHAR},
		cityCode =
		#{citycode,jdbcType=VARCHAR},
		areaCode = #{areacode,jdbcType=VARCHAR}
		where order_id = #{orderId,jdbcType=BIGINT}
	</update>
	
	<update id="sendReward">
     update
            `order`
             set orderStatus=4,operatingUser=#{operatingUser},operatingTime=now()
             where order_id=#{convertId}
    </update>
</mapper>